<!--[formGroup]="fg" representa el grupo de elementos de un formulario vinculo el grupo de valores a la vriable fg
    (onSubmit)="guardar(....)" cuando haga submit del formulario invoco a la funcion>
-->
<form 
[formGroup]="fg" 
(ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value,fg.controls['descripcion'].value )">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
        formControlName='nombre'                
        ><!--#nombre ya no es la variable del input ahora, el objeto q´ representa o devuelve el unput la acaja de texto es "fg.controls['nombre']" SI ESTO FALLA por version de angula usar : formControlName='nombre' funciona igual-->
        <!--directiva s mostrara si el cmpo es valido respecto a l avalidacion definida en el .ts
        <div *ngIf="!fg.controls['nombre'].valid">Nombre es obligatorio*</div>
        -->
        <ul>
            <li *ngFor="let resultado of searchResult">{{resultado}}</li>
        </ul>
        <!--otra forma de validar-->
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre es obligatorio*</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido*</div>
        <div *ngIf="fg.controls['nombre'].hasError('maxlength')">longitud de nombre minima:{{maxLongitudNombre}}*</div>
        
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."
        formControlName='url'
        >
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripcion..."
        formControlName='descripcion'
        >
    </div>
    <!--este if nos permite validr que el boton se mostrara solo si exiten las validaciones que definmaos al formulario-->
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>