<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de deseos</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre><!--#nombre es la variable del input-->
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripcion..." #descripcion>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value,descripcion.value)">Guardar!</button><!--esta es una variable de tipo html lo que le da varios atributos pero el value nos da el ingreso del usuario-->
                    </form>
                     <!--
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                    -->
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <br>
    <br>
    <br>
    <div class="row">
        <!--elegido($event) event pide o pasa el objeto que es necesario para la ejecucion pero se puede pasar el objeto destino qu en nuestro cso es el objeto que requeririamos-->
        <app-destino-viaje 
        *ngFor="let destino of destinosApiClient.getAll(); let indice=index" 
        [destino]="destino" 
        [idx]="indice"
        (clicked)="elegido($event)"
        ></app-destino-viaje>
    </div>
</div>
