<div class="card-content">
    <div class="card-img">
        <div *ngIf='destino.imagenUrl===""'>
            <img src="https://placeimg.com/380/230/nature" alt="">
        </div>
        <div *ngIf='destino.imagenUrl!==""'>
            <img src={{destino.imagenUrl}} alt="" height="230" width="380">
        </div>
        <span>
            <h4>{{destino.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <div *ngIf='destino.descripcion===""'>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
            </p>
        </div>
        <div *ngIf='destino.descripcion!==""'>
            <p>
                {{destino.descripcion}}
            </p>
        </div>
        <a href="#" class="btn-card" (click)="ir()">Ir</a>
        <!--usaremos display que dejara mostrar el spam dependiendo de si esta seleccionado o no-->
        <span [style.display]="destino.isSelected() ? '' : 'none'"> - PREFERIDO - </span>
    </div>
</div>